<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.ussdbalance">

    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_PHONE_CALL"/>


    <application
            android:icon="@android:drawable/ic_dialog_info"
            android:allowBackup="true"
            android:label="USSD Balance"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name=".UssdService"
                android:exported="false"
                android:foregroundServiceType="dataSync"
        />
    </application>
</manifest>
